body{
	font-family: Avenir, Lato, sans-serif;
    margin: 0;
}


table {
	font-size: 13px;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 100%;
}
table tbody{
	background-color: #fff;
}

table th {
    /*text-align: left;*/
    border: 1px solid #f6f6f6;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 2px solid #ccc;
    /*vertical-align: bottom;*/
    /*padding: 0 10px 10px 10px;*/
    /*text-align: center;*/
    width: 60px;
    /*max-width: 60px;*/
    min-width: 60px;
}

table th:first-child{
    border-left:1px solid #f6f6f6;
}


table td {
    border: 1px solid #eee;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
    /*border: 1px solid #eee;*/
    vertical-align: middle;
    padding: 10px;
    text-align: right;
    width: 60px;
    /*max-width: 60px;*/
    min-width: 60px;
}

table td:last-child {

    border-right: 1px solid #eee;
}

tbody tr:last-child {
    /*border-bottom: 2px solid #ccc;*/
}
thead tr th:last-child{
    border-right: 1px solid #eee;
}
table td:nth-child(1) {
    /*text-align: left;*/
    /*padding-left: 0;*/
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #bbb;
    background-color: #f6f6f6;
    color: #333;
    text-align: left;
    font-weight: bold;
}
table td:nth-child(1) .barContainer{
    display: none;
}

table thead th{
	color: #333;
	background-color: #f6f6f6;
	text-align: center;
	vertical-align: middle;
    /*padding: 0 10px 10px 10px;*/
    padding: 5px;

}

.innerText{
    padding-right: 0;
}

.bar .barContainer{
    position: absolute;
    /* left: 0; */
    margin-left: 0px;
    /* width: 100px; */
    height: 4px;
    display: block;
    z-index: 2;
    /* bottom: 44px; */
    margin-top: 0px;
}

.pos .barContainer{
	background-color: #008bb0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid black;
}
.neg .barContainer{
	/*position: absolute;*/
	/* left: 0; */
	/*margin-left: -10px;*/
	/*width: 100px;*/
	/*height: 24px;*/
	background-color: #f0573e;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid black;
	 /*display: block; */
	/*z-index: -1;*/
	/* bottom: 44px; */
	/*margin-top: -19px;*/
}

.splitBar .barContainer{
    position: absolute;
    /* left: 0; */
    margin-left: 0px;
    /* width: 100px; */
    height: 4px;
    display: block;
    z-index: 2;
    /* bottom: 44px; */
    margin-top: 0`px;
}


/********************** SPILLOVER STYLES *******************/
table.scrolling thead tr:nth-child(1) th:nth-child(1){
    width: 120px;
    z-index: 10;
    position: fixed;
    left: 0;
}
table.scrolling td:nth-child(1){
    position: fixed;
    z-index: 10;
    left: 0;
    width: 110px;
    max-width: 110px;
}
.spacer{
    padding-right: 65px;
}
/*table.scrolling th:nth-child(1){
    position: relative;
    left: 82px;
}*/

.rightFader{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    width: 80px;
}
.leftFader{
    position: fixed;
    left: 132;
    top: 0;
    z-index: 9;
    width: 30px;
}

/********************** OUTSIDE OF TABLE STYLES *******************/
#tableTitle{
    /*position: absolute;*/
    padding-left: 10px;
    font-size: 1.5em;
    color: #174a7c;
}
#headerWrapper{
    width: 100%;
    /*position: absolute;*/
    left: 10px;
}
#scrollArrows{
    opacity: 0;
}

#tableTitle.scroll{
    position: fixed;
}
#chartToggle.scroll{
    position: fixed;
    left: 4px;
}
#scrollArrows.scroll{
    position: fixed;
    right: -12px;
}
#scrollArrows img{
    opacity: 0.3;
}
img.enabled:hover{
    opacity: 1 !important;
}
#panLeft img{
    opacity: 0.1;   
}
#headerWrapper{
    width: 100%;
    /*position: absolute;*/
}

/********************** FOOTNOTES *******************/
#tableNotes{
    position: fixed;
    width: 100%;
    left: 10px;
    font-size:0.8em;
    margin-top: 15px;
}
.footnote{
    width: 100%;
    border: 3px solid rgba(255, 0, 0, 0);
}
.symbol{
    border: 3px solid rgba(255, 0, 0, 0);
}
.notesymbol{
    float: left;
    font-weight: bold;
    padding-right: 5px;
}
.notetext p{
    margin: 0;
}
.highlight{
    background-color: #fdbf11;
    border: 3px solid #fdbf11;
}