#tableEmbed{
	font-family: Avenir, Lato, sans-serif;
    margin: 0;
}
#tableEmbed ul{
    padding: 0px;
}
#tableEmbed li {
    list-style-type: none;
    background-color: #fff;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
}
#tableEmbed li:hover{
    color: white;
    background-color: #008bb0 !important;
}
#tableEmbed li.active{
    color: white;
    background-color: #174a7c
}

#tableEmbed table {
	font-size: 13px;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 100%;
}
#tableEmbed table tbody{
	background-color: #fff;
}

#tableEmbed table th {
    /*text-align: left;*/
    border: 1px solid #f6f6f6;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 2px solid #ccc;
    /*vertical-align: bottom;*/
    /*padding: 0 10px 10px 10px;*/
    /*text-align: center;*/
    width: 60px;
    /*max-width: 60px;*/
    min-width: 60px;
}

#tableEmbed table th:first-child{
    border-left:1px solid #f6f6f6;
}


#tableEmbed table td {
    border: 1px solid #eee;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
    /*border: 1px solid #eee;*/
    vertical-align: middle;
    padding: 10px;
    text-align: right;
    width: 60px;
    /*max-width: 60px;*/
    min-width: 60px;
}

#tableEmbed table td:last-child {

    border-right: 1px solid #eee;
}

#tableEmbed tbody tr:last-child {
    /*border-bottom: 2px solid #ccc;*/
}
#tableEmbed thead tr th:last-child{
    border-right: 1px solid #eee;
}
#tableEmbed table td:nth-child(1) {
    /*text-align: left;*/
    /*padding-left: 0;*/
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #bbb;
    background-color: #f6f6f6;
    color: #333;
    text-align: left;
    font-weight: bold;
}
#tableEmbed table td:nth-child(1) .barContainer{
    display: none;
}

#tableEmbed table thead th{
	color: #333;
	background-color: #f6f6f6;
	text-align: center;
	vertical-align: middle;
    /*padding: 0 10px 10px 10px;*/
    padding: 5px;

}

#tableEmbed .innerText{
    padding-right: 0;
}

#tableEmbed .bar .barContainer{
    position: absolute;
    /* left: 0; */
    margin-left: 0px;
    /* width: 100px; */
    height: 4px;
    display: block;
    z-index: 2;
    /* bottom: 44px; */
    margin-top: 0px;
}

#tableEmbed .pos .barContainer{
	background-color: #008bb0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid black;
}
#tableEmbed .neg .barContainer{
	/*position: absolute;*/
	/* left: 0; */
	/*margin-left: -10px;*/
	/*width: 100px;*/
	/*height: 24px;*/
	background-color: #f0573e;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid black;
	 /*display: block; */
	/*z-index: -1;*/
	/* bottom: 44px; */
	/*margin-top: -19px;*/
}

#tableEmbed .splitBar .barContainer{
    position: absolute;
    /* left: 0; */
    margin-left: 0px;
    /* width: 100px; */
    height: 4px;
    display: block;
    z-index: 2;
    /* bottom: 44px; */
    margin-top: 0`px;
}


/********************** SPILLOVER STYLES *******************/
#tableEmbed table.scrolling thead tr:nth-child(1) th:nth-child(1){
    width: 120px;
    z-index: 10;
    position: fixed;
    left: 0;
}
#tableEmbed table.scrolling td:nth-child(1){
    position: fixed;
    z-index: 10;
    left: 0;
    width: 110px;
    max-width: 110px;
}
#tableEmbed .spacer{
    padding-right: 65px;
}
/*table.scrolling th:nth-child(1){
    position: relative;
    left: 82px;
}*/

#tableEmbed .rightFader{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    width: 80px;
}
#tableEmbed .leftFader{
    position: fixed;
    left: 132;
    top: 0;
    z-index: 9;
    width: 30px;
}

/********************** OUTSIDE OF TABLE STYLES *******************/
#tableEmbed #bookTitle{
    font-weight: 600;
    font-size: 27px;
}
#tableEmbed #tableTitle{
    /*position: absolute;*/
    padding-left: 10px;
    font-size: 1.5em;
    color: #174a7c;
    position: relative;
    top: 18px;
    left: -7px;
}
#tableEmbed #tableTitle .tableText{
    display: inline;
    float: left;
}
#tableEmbed #tableTitle .tableButtons{
    display: inline;
}

#tableEmbed #tableTitle .tableButtons span{
    display: block;
    height: 22px;
    width: 22px;
    line-height: 25px;
    -moz-border-radius: 3px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 4px;
    background-color: #eee;
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    float: left;
    cursor: pointer;
}
#tableEmbed #tableTitle .tableButtons span.active{
    color: white;
    background-color: #174a7c;
}
#tableEmbed #tableTitle .tableButtons span:hover{
    color: white;
    background-color: #008bb0 !important;
}
#tableEmbed #headerWrapper{
    width: 100%;
    /*position: absolute;*/
    left: 10px;
    top: 0;
    position: fixed;
}
#tableEmbed #headerWrapper.scrolling{
    /*width: 100%;*/
    /*position: absolute;*/
    /*left: 10px;*/
    margin-bottom: 55px;
}
#tableEmbed #scrollArrows{
    cursor: pointer;
    opacity: 0;
}
.panner{
    cursor: pointer;
}

#tableEmbed #tableTitle.scroll{
    /*position: fixed;*/
}
#tableEmbed #chartToggle{
    position: relative;
    top: 39px;
    display: inline-block;
    float: left;
    width: 100%;
    z-index: -1;
}
#tableEmbed #chartToggle.scroll{
    /*position: fixed;*/
    left: 4px;
}
#tableEmbed #scrollArrows.scroll{
    /*position: fixed;*/
    right: -12px;
}
#tableEmbed #scrollArrows img{
    opacity: 0.3;
}
#tableEmbed img.enabled:hover{
    opacity: 1 !important;
}
#tableEmbed #panLeft img{
    opacity: 0.1;   
}
#tableEmbed #headerWrapper{
    width: 100%;
    /*position: absolute;*/
}

/********************** FOOTNOTES *******************/
#tableEmbed #tableNotes{
    position: fixed;
    width: 100%;
    left: 10px;
    font-size:0.8em;
    margin-top: 15px;
}
#tableEmbed .footnote{
    width: 100%;
    border: 3px solid rgba(255, 0, 0, 0);
    cursor: pointer;
}
#tableEmbed .symbol{
    border: 3px solid rgba(255, 0, 0, 0);
}
#tableEmbed .notesymbol{
    float: left;
    font-weight: bold;
    padding-right: 5px;
}
#tableEmbed .notetext p{
    margin: 0;
}
#tableEmbed .highlight{
    background-color: #fcb64b;
    border: 3px solid #fcb64b;
}